<h1 class="text-center mt-4">Listing all articles</h1>
<div id="xldown">
<% if logged_in? %>
<%= link_to "Download as .xlsx", articles_path(format: :xlsx) %>
<% end %>
</div>

<%= render "article" %>
