<div class="page-content">
<div class="container" id="home-container">
<div class="jumbotron" id="jumbo2">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Welcome to articles page.</p>
  <hr class="my-4">
  <p>Articles page which has the title, description, editing, deleting and creating new articles.</p>
  <p style="color:green;">Click the button below!</p>
 <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
</div>
</div>

  </div>