@import 'bootstrap/dist/css/bootstrap';

.navbar{
    background-color:black !important;
}
.nav-link{
    color:white !important;
}
#logo{
    color:#fff !important;
    float:left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold; 
}
#home-container{
    margin-top: 40px;
    text-align: center;
}
#page-content{
    background: linear-gradient(to right, #ff99ff 0%, #33cccc 100%); 
}
#jumbo1{
    background: linear-gradient(to top, #ccffff 0%, #ff66ff 100%);
}
#jumbo2{
    background: linear-gradient(to top left, #99ccff 0%, #3333ff 100%);
}
