@import 'bootstrap/dist/css/bootstrap';

.navbar{
    background-color:black !important;
}
.nav-link{
    color:white !important;
}
#logo{
    color:#fff !important;
    float:left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold; 
}
#home-container{
    margin-top: 40px;
    text-align: center;
}
#page-content{
   
    background-color: lightgray;
}
